.img-placeholder {
    width: 60vw;
    height: 50vh;
    margin: 0 auto 0 auto;
}

.arrow-container {
    background-color: #15191D;
    padding: 10px;
}

.rotate-180deg {
    transform: rotate(180deg);
}
.active-page-indicator {
    background: var(--button-primary-color) !important;
}
.page-indicator {
    height: 5px;
    width: 30px;
    background-color: #15191D;
}