.img-placeholder {
    width: 308px;
    height: 540px;
    margin: 0 auto 0 auto;
}

.arrow-container {
    background-color: #15191d;
    padding: 10px;
}

.rotate-180deg {
    transform: rotate(180deg);
}
.active-page-indicator {
    background: var(--button-primary-color) !important;
}
.page-indicator {
    height: 5px;
    width: 30px;
    background-color: #15191d;
}
