.com-mobile-card-offer-list {
    .ava-container {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: var(--text-grey-color);
    }

    .btn-primary,
    .btn-danger {
        padding: 8px 24px !important;
    }

    .payment-label {
        width: 3px !important;
        height: 12px !important;
        background: #4062bb !important;
    }
}
