.container-p2p-user-info {
    .ava-container {
        background: var(--notification-background-color);
        height: 54px;
        width: 54px;
        border-radius: 50%;
    }

    .progress-bar {
        width: 181px;
        height: 4px;
        background: #d9d9d9;
        border-radius: 10px;
        margin: 0 10px;
        height: 9px;
    }

    .progress {
        background: var(--text-gradient-color);
        height: 100%;
        border-radius: 10px;
    }
}
