@import "./SignIn/SignIn.pcss";
@import "./TwoFaAuthentication/TwoFaAuthentication.pcss";
@import "./KycDocumentMobile/KycDocumentMobile.pcss";
@import "./TradingChart/TradingChart.pcss";
@import "./OrderBook/OrderBook.pcss";
@import "./P2POrderStepMobile/P2POrderStepMobile.pcss";
@import "./P2PChatMobile/P2PChatMobile.pcss";
@import "./P2PReportOrderMobile/P2PReportOrderMobile.pcss";
@import "./P2PNotificationMobile/P2PNotificationMobile.pcss";
