.bottom-fixed-button {
    position: sticky;
    left: 5%;
    bottom: 90px !important;
    width: 90%;
    text-align: center;
  }
  .label-payment {
    width: 5px;
    height: 19px;
    background: #4062bb;
}
.bg-soft {
  background: #0E1114;
}