.pg-market-detail-screen {
    max-width: 1920px;
    margin: 0 auto;
    padding: 60px 0;
    gap: 20px;

    &__content-right {
        gap: 67px;
    }

    &__title {
        .market {
            border-right: 1px solid var(--text-primary-color);
        }
    }
}
