/* main content */

.referral-program {
    &.content-wrapper {
        position: relative;
        margin-left: 369px;
        width: calc(100% - 369px);
        min-height: calc(100vh - 70px);

        .referral-image {
            width: 120px;
        }
    }
}

/* end main content */
