.com-p2p-blocked-user {
    .no-data-container {
        height: 300px;
    }

    .ava-container {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: var(--text-grey-color);
    }

    .data-row {
        /* .reason-block {
            color: 
        } */
    }
}
