/* main content */
.faq-screen {
    position: relative;
    margin-left: 309px;
    width: calc(100% - 309px);
    min-height: calc(100vh - 70px);
    padding-top: 70px;

    .background {
        background-size: cover;
        background-repeat: no-reapat;
        background-position: center;
    }
    .articles {
        padding: 3rem 0;
    }
}
