.pg-mobile-screen-p2p-create-offer {
    .back {
        left: 0;
    }

    .top-nav-create-offer {
        top: 71px;
        background: var(--main-background-color);
        z-index: 99;
    }

    .bottom-nav-create-offer {
        position: fixed;
        bottom: 58px;
        z-index: 99;
        width: 100%;
        background: var(--main-background-color);
        padding: 12px;
        button {
            width: calc(100% - 24px);
        }
    }

    .btn-transparent {
        &.active {
            background: linear-gradient(var(--main-background-color), var(--main-background-color)) padding-box,
                var(--text-gradient-color) border-box !important;
            border-bottom: 1px solid transparent !important;
        }
    }

    .custom-input-offer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 10px;
        background: #15191d;
        border: 1px solid #15191d;
        border-radius: 8px;
        height: 54px;
    }

    .custom-input-offer:focus {
        outline: none;
        box-shadow: none;
    }

    .input-label-right {
        right: 14px;
        top: 15px;
    }

    .input-label-left {
        left: 14px;
        top: 15px;
    }

    .custom-textarea-offer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 10px;
        background: #15191d;
        border: 1px solid #15191d;
        border-radius: 8px;
    }

    textarea {
        resize: none;
    }

    .custom-textarea-offer:focus {
        outline: none;
        box-shadow: none;
    }

    .custom-textarea-offer::placeholder,
    .custom-input-offer::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #6f6f6f;
    }

    .input-filter-fiat {
        background: rgb(21, 25, 29) !important;
        padding: 8px 0 8px 16px;
        gap: 16px;
        height: 54px;
        border-radius: 8px 0 0 8px;
        border: 1px solid rgb(21, 25, 29);
        border-right: none;
        font-weight: 400;
        font-size: 14px;
        color: var(--text-primary-color)

        &:focus {
            box-shadow: none !important;
            outline: none !important;
            border: 1px solid rgb(21, 25, 29);
            border-right: none;
        }

        &:focus-visible {
            box-shadow: none !important;
            outline: none !important;
            border: 1px solid rgb(21, 25, 29);
            border-right: none;
        }
    }

    .off-canvas-confirmation {
        max-width: 800px;
        width: 100%;
        height: 100%;
        background: var(--modal-background-color);
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        transition: 0.5s;

        &.show {
            transform: translateY(0%);
        }
    }

    .off-canvas-content-container-confirmation {
        background: var(--main-background-color);
        height: 70%;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        z-index: 20000 !important;
        border-radius: 8px 8px 0 0;
        padding: 24px;
        margin-bottom: 60px;
    }

    .close-canvas {
        left: 0;
    }

    .border-bottom-canvas {
        border-bottom: 0.3px solid #6f6f6f;
    }

    .btn-primary {
        padding: 16px;
        gap: 10px;
        border-radius: 8px;
    }

    .btn-secondary {
        padding: 16px;
        gap: 10px;
        background: #15191d !important;
        border-radius: 8px;
    }

    .payment-label {
        width: 3px !important;
        height: 12px !important;
        background: #4062bb !important;
    }

    .add-payment-select {
        background: var(--body-background-color) !important;
        padding: 20px 10px 20px 10px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 10px !important;
        cursor: pointer !important;
    }

    .css-26l3qy-menu {
        z-index: 999999 !important;
        /* height: 200px !important; */
        /* overflow: scroll !important; */
    }
}
