.pg-mobile-screen-p2p-create-offer {
    .back {
        left: 0;
    }

    .btn-transparent {
        &.active {
            background: linear-gradient(var(--main-background-color), var(--main-background-color)) padding-box,
                var(--text-gradient-color) border-box !important;
            border-bottom: 1px solid transparent !important;
        }
    }
}
