.pg-screen-p2p {
    background: var(--main-background-color);

    .com-content-table-list-p2p-container {
        background: var(--body-background-color);
        border-radius: 90px 90px 0px 0px;
        width: 100vw;
        padding: 24px 11%;
    }

    .header-container {
        padding: 0 10%;
    }
}
