.input-add-address span {
    top: 20%;
    right: 5%;
}

.pincode-input-text {
    background: var(--border-color) !important;
    color: var(--text-primary-color);
    border-color: var(--border-color) !important;
}

.add-beneficiary-button {
    border: 1px solid #23262f;
    border-radius: 6px;
    padding: 16px;
    height: 53px;
    font-weight: 400;
    font-size: 14px;
    color: #b5b3bc;
}

.input-amount-beneficiary {
    height: 53px !important;
}
